<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheet/admin.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <body>
        <div class="heading1">
            <h1 class="heading" style="font-size:60px;"><span class="fa fa-plus"
                    style="font-size:60px;color:rgb(142, 142, 179);border-style:solid;border-radius:100%;padding:10px;border-width:2px;"></span>
                PMS <button class="logoutButton" onclick="logout()"><span
                        class="fas fa-power-off"></span>&ensp;Logout</button></h1>
        </div>
        <h1 class="heading2" id="heading2">Edit Admit</h1>
        <div class="navigationbar">
            <button class="dashboard1" onclick="dboard1()"><span><input type=image class="dashboardimage"
                        src="/img/dashboard.png"></span></span>&nbsp;Dashboard</button>
            <br>
            <button class="patient1" onclick="showPatient()"><span><input type=image class="patientimage"
                        src="/img/patient.png"></span>&emsp;Patient</button>
            <br>
            <button class="profile1" onclick="showProfile()"><span><input type=image class="profileimage"
                        src="/img/profile.png"></span>&emsp;Profile</button>
        </div>
        <p id="message" class="message1"></p>
        <form id="admitedit" class="edit">
            <label>Patient Name</label>
            <select id="patientname">
                <option value="{{admit.name}}" selected>{{admit.name}}</option>
                {{#each this.patient}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <br>
            <label>Patient Id</label>
            <select id="patientid">
                <option value="{{admit.patientId}}" selected>{{admit.patientId}}</option>
                {{#each this.patient}}
                <option value="{{this.patientId}}">{{this.patientId}}</option>
                {{/each}}
            </select>
            <br>
            <label>Doctor Name</label>
            <select id="doctorName">
                <option value="{{admit.doctor}}" selected>{{admit.doctor}}</option>
                {{#each this.doctor}}
                <option>{{this.name}}</option>
                {{/each}}
            </select>
            <br>
            <label>Department</label>
            <select id="department">
                <option value="{{admit.department}}" selected>{{admit.department}}</option>
                {{#each this.doctor}}
                <option>{{this.department}}</option>
                {{/each}}
            </select>
            <br>
            <label>Date</label>
            <input type="date" id="date" min="{{minDate}}" value="{{admit.date}}" required>
            <br>
            <label>Select Ward</label>
            <select id="ward">
                <option value="{{admit.patientWard}}" selected>{{admit.patientWard}}</option>
                <option value="Emergency Ward">Emergency Ward</option>
                <option value="General Ward">General Ward</option>
                <option value="Private Ward">Private Ward</option>
            </select>
            <br>
            <label>Select Bed</label>
            <select id="bed">
                <option value="{{admit.patientBed}}" selected>{{admit.patientBed}}</option>
                <option value="Bed1">Bed1</option>
                <option value="Bed2">Bed2</option>
                <option value="Bed3">Bed3</option>
                <option value="Bed4">Bed4</option>
                <option value="Bed5">Bed5</option>
            </select>
            <br>
            <button class="AdmitButton"> submit</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script>
            var optionValues2 = [];
            $('#patientname option').each(function () {
                if ($.inArray(this.value, optionValues2) > -1) {
                    $(this).remove()
                } else {
                    optionValues2.push(this.value);
                }
            });
        </script>
        <script>
            var optionValues2 = [];
            $('#patientid option').each(function () {
                if ($.inArray(this.value, optionValues2) > -1) {
                    $(this).remove()
                } else {
                    optionValues2.push(this.value);
                }
            });
        </script>
        <script>
            var optionValues2 = [];
            $('#doctorName option').each(function () {
                if ($.inArray(this.value, optionValues2) > -1) {
                    $(this).remove()
                } else {
                    optionValues2.push(this.value);
                }
            });
        </script>
        <script>
            var optionValues2 = [];
            $('#department option').each(function () {
                if ($.inArray(this.value, optionValues2) > -1) {
                    $(this).remove()
                } else {
                    optionValues2.push(this.value);
                }
            });
        </script>
        <script>
            var optionValues2 = [];
            $('#bed option').each(function () {
                if ($.inArray(this.value, optionValues2) > -1) {
                    $(this).remove()
                } else {
                    optionValues2.push(this.value);
                }
            });
        </script>
        <script>
            var optionValues2 = [];
            $('#ward option').each(function () {
                if ($.inArray(this.value, optionValues2) > -1) {
                    $(this).remove()
                } else {
                    optionValues2.push(this.value);
                }
            });
        </script>
        <script>
            function dboard1() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/dashboard/staff?&token=${token}`
            }
        </script>
        <script>
            function showPatient() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/staff/patient?&token=${token}&page=${0}`
            }
        </script>
        <script>
            function showProfile() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/staffprofile?&token=${token}`
            }
        </script>
        <script src="/js/logout.js"></script>
        <script src="/js/admitedit1.js"></script>
    </body>

</html>