<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/admin.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="heading1">
            <h1 class="heading" style="font-size:50px;"><span class="fas fa-plus"
                    style="font-size:40px;color:rgb(142, 142, 179);border-style:solid;border-radius:100%;padding:10px;border-width:7px;"></span>&ensp;
                PMS</h1>
            <button class="logoutButton" onclick="logout()"><span class="fas fa-power-off"></span>&ensp;Logout</button>
        </div>
        <h1 class="heading2" id="heading2">Edit Staff</h1>
        <div class="navigationbar">
            <button class="dashboard1" onclick="dboard1()"><span><input type=image class="dashboardimage"
                        src="/img/dashboard.png"></span></span>&nbsp;Dashboard</button>
            <br>
            <button class="doctor1" onclick="showDoctor()"><span><input type=image class="doctorimage"
                        src="/img/doctor.jpg"></span>&emsp;Doctor</button>
            <br>
            <button class="patient1" onclick="showPatient()"><span><input type=image class="patientimage"
                        src="/img/patient.png"></span>&emsp;Patient</button>
            <br>
            <button class="staff1" onclick="showStaff()"><span><input type=image class="staffimage" src="/img/staff.png"
                        </span>&emsp;Staff</button>
            <br>
            <button class="profile1" onclick="showProfile()"><span><input type=image class="profileimage"
                        src="/img/profile.png"></span>&emsp;Profile</button>
        </div>
        <form id="staffedit" class="edit">
            <label>Name</label>
            <input type="text" id="Name" required value="{{staff.name}}" disabled="disabled">
            <br>
            <label>Email</label>
            <input type="text" id="Email" required value="{{staff.email}}" disabled="disabled">
            <br>
            <label>Password</label>
            <input type="text" id="Password" required value="{{staff.password}}">
            <br>
            <label>Address</label>
            <input type="text" id="Address" required value="{{staff.address}}">
            <br>
            <label>Phone No</label>
            <input type="text" id="PhoneNo" required value="{{staff.phoneNumber}}">
            <br>
            <button class="edit2">Update</button>
        </form>
        <p id="message" class="message"></p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="/js/staffedit.js"></script>
        <script>
            function showDoctor() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/admin/doctor?&token=${token}&page=${0}`
            }
        </script>
        <script>
            function dboard1() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/dashboard/admin?&token=${token}`
            }
        </script>
        <script>
            function showStaff() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/admin/staff?&token=${token}&page=${0}`
            }
        </script>
        
        <script>
            function showPatient() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/admin/patient?&token=${token}&page=${0}`
            }
        </script>
        <script>
            function showProfile() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/adminprofile?&token=${token}`
            }
        </script>
        <script src="/js/logout.js"></script>
    </body>
</html>